@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(xfug0WDhWW_fOEoY2Fbnww42bCJhNLrQSmh3feI.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
