img.in_the_wild {
  display: block;
  width: 100%;
	padding: 5px;
}

.heart_image {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px;
    width: 90%;
    height: 100%;
}

.heart_container {
  position: relative;
    text-align: center;
}

.center {
}

.heart_topleft {
  position: absolute;
  bottom: 15px;
  left: 40px;
  font-size: 75%;
  color: #000;
  background-color: #ccc;
  padding: 2px;
}

@media only screen and (min-width: 680px) {
	img.in_the_wild {
		display: block;
		float: left;
		width: 30%;
	}
}

@media only screen and (max-width: 680px) {
	img.in_the_wild {
		display: block;
		float: left;
		width: 45%;
	}
}

@media only screen and (max-width: 480px) {
	img.in_the_wild {
		display: block;
		float: left;
		width: 45%;
	}
}

@media only screen and (max-width: 360px) {
	img.in_the_wild {
		display: block;
		float: left;
		width: 100%;
	}
}
