body {
    background-color: #e5e5e5;
}

.row {
    display: table-row;
}

.width_100 {
    width: 100%;
}
.width_90 {
    width: 90%;
}
.width_80 {
    width: 80%;
}
.width_70 {
    width: 70%;
}
.width_10 {
    width: 10%;
}

h2 {
    font: 150pt/1.0 "Teko", sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: center;
    color: #8e0505;
}

h3 {
    font: 36pt/1.0 "Teko", sans-serif;
    font-weight: 700;
    margin: 0;
    width: 100%;
    text-align: center;
}

.date_container {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
span.date  {
    text-align: center;
    font: 20pt/1.0 'Source Sans Pro', sans-serif;
}

.starsign {
    padding-bottom: 50px;

}
.starsign .title {
    display: table;
}

.starsign .title .name {
    font: 36pt/1.0 'Sonsie One', cursive;
    font-weight: regular;
    color: #8e0505;
}

.starsign .title .creature {
    font: 20pt/1.0 'Sunflower', sans-serif;
    font-weight: 300;
    color: #000;
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 0px;
    vertical-align: top;
    text-align: left;
}

.starsign .title .from_date, .starsign .title .end_date {
    font: 20pt/1.0 'Source Sans Pro', sans-serif;
    font-weight: italic;
    color: #000;
    display: block;
    white-space:nowrap;
}

.starsign .title .dates {
    display: table-cell;
    padding-top: 0px;
    text-align: right;
}

.starsign .title .from_date::after {
    content: " - "
}

.starsign .title {
    border-bottom: 1px solid #000;
}

.starsign .body .female, .starsign .body .male {
    font: 20pt/1.0 'Suwannaphum', serif;
    font-weight: regular;
    display: block;
}

.starsign .body .female {
    padding-top: 5px;
}
.starsign .body .male {
    padding-top: 10px;
}

table.year {
    cellpadding: 1px;
    cellspacing: 1px;
    text-align: center;
}
table.month {
    padding: 5px;
}
table td {
    font: 10pt/1.0 'Sunflower', sans-serif;
}

th.year {
    font: 20pt/1.0 'Source Sans Pro', sans-serif;
    background-color: #8e0505;
}
th.month {
    font: 12pt/1.0 'Source Sans Pro', sans-serif;
}
.year td {
    text-align: center;
    vertical-align: top;
    padding: 2px;
}

th.mon, th.tue, th.wed, th.thu, th.fri, th.sat, th.sun {
    display: none;
}

table.nav_links {
    width: 100%;
}
table.nav_links td {
    width: 33%;
}
td.next_day {
    text-align: right;
}
td.prev_day {
    text-align: left;
}
td.calendar_link {
    text-align: center;
}

@media only screen and (min-width: 680px) {
    #root {
        margin: 0 auto;
        width: 680px;
    }
}


@media only screen and (max-width: 680px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    h2 {
        font-size: 60pt;
    }
    h3 {
        font-size: 28pt;
    }
    .starsign .title .name {
        font-size: 26pt;
    }
    .starsign .title .creature {
        font-size: 12pt;
    }
    .starsign .title .from_date, .starsign .title .end_date {
        font-size: 12pt;
    }
    .starsign .body .female, .starsign .body .male {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 480px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    h2 {
        font-size: 60pt;
    }
    h3 {
        font-size: 28pt;
    }
    .starsign .title .name {
        font-size: 26pt;
    }
    .starsign .title .creature {
        font-size: 12pt;
    }
    .starsign .title .from_date, .starsign .title .end_date {
        font-size: 12pt;
    }
    .starsign .body .female, .starsign .body .male {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 360px) {
    #root {
        margin: 0 auto;
        width: 80%;
    }
    h2 {
        font-size: 40pt;
    }
    h3 {
        font-size: 20pt;
    }
    .starsign .title .name {
        font-size: 14pt;
    }
    .starsign .title .creature {
        font-size: 10pt;
    }
    .starsign .title .from_date, .starsign .title .end_date {
        font-size: 10pt;
    }
    .starsign .body .female, .starsign .body .male {
        font-size: 12pt;
    }
}
