.section, .worksection {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.worksection {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 680px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    background-color: #2f2c2c;
    display: flex;
}

.worksection > a {
    display: flex;
    padding: 0px;
    width: 100%;
    max-width: 680px;
}

.work_name {
    font-family: "Saira", sans-serif;
    color: #eee;
    text-transform: uppercase;
    height: 50%;
    display: table-cell;
    vertical-align: bottom;
    font-size: 16pt;
    font-size: min(6vw,65px);
    font-weight: 900;
}

.work_slogan {
    display: flex;
    height: 50%;
    display: table-cell;
    vertical-align: bottom;
    font-family: "Saira", sans-serif;
    color: #eee;
    font-style: italic;
    font-size: min(4.5vw,25px);
}

.works_text_container {
    padding-left: 5px;
    display: table;
}

.works_image_container {
    display: flex;
    height: 100%;
    align-self: center;
}

.badass  strong {
    color: #593;
}


@media only screen and (min-width: 680px) {
    #root {
        margin: 0 auto;
        width: 680px;
    }

    .worksection {
        align: center;
    }
    .profile_image {
        height: 392px;
        width: 280px;
    }
    .works_image {
        height: 196px;
        width: 196px;
        padding-left: 5px;
    }
    .works_description {
        padding-top: 200px;
    }
    .quattro {
        font: 20pt/1.2 "Saira", sans-serif;
        color: #eee;
    }
    .first_name {
        font: 30pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        background-color: #612626;

    }
    .last_name  {
        font: 40pt/1.0 "Saira", sans-serif;
        color: #eee;
        text-transform: uppercase;
        display: block;
    }
}


@media only screen and (max-width: 680px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    .worksection {
        left: 0;
    }
    .profile_image {
        height: 196px;
        width: 140px;
    }
    .works_image {
        height: 148px;
        width: 148px;
        padding-left: 5px;
    }
    .works_description {
        padding-top: 152px;
    }

    .quattro {
        font: 14pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .first_name {
        font: 20pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        background-color: #612626;
    }
    .last_name {
        font: 30pt/1.0 "Saira", sans-serif;
        color: #eee;
        text-transform: uppercase;
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    .worksection {
        left: 0;
    }
    .profile_image {
        height: 196px;
        width: 140px;
    }
    .works_image {
        height: 124px;
        width: 124px;
        padding-left: 5px;
    }
    .works_description {
        padding-top: 130px;
    }
    .quattro {
        font: 14pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .first_name {
        font: 18pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        background-color: #612626;
    }
    .last_name {
        font: 24pt/1.0 "Saira", sans-serif;
        color: #eee;
        text-transform: uppercase;
        display: block;
    }
    .footer-div {
        font-size: 75%;
    }
}

@media only screen and (max-width: 360px) {
    #root {
        margin: 0 auto;
        width: 320px;
    }
    .worksection {
        left: 0;
    }
    .profile_image {
        height: 100%;
        width: 120px;
    }
    .works_image {
        height: 124px;
        width: 124px;
        padding-left: 5px;
    }
    .works_description {
        padding-top: 130px;
    }
    .quattro {
        font: 14pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .first_name {
        font: 16pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        background-color: #612626;
    }
    .last_name {
        font: 18pt/1.0 "Saira", sans-serif;
        color: #eee;
        text-transform: uppercase;
        display: block;
    }
}
