.section, .worksection {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.worksection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    background-color: #2f2c2c;
}

@media only screen and (min-width: 680px) {
    #root {
        margin: 0 auto;
        width: 680px;
    }
    .profile_image {
        height: 392px;
        width: 280px;
    }
    .works_image {
        height: 196px;
        width: 196px;
        padding-left: 5px;
    }
    .works_description {
        padding-top: 200px;
    }
    .quattro {
        font: 20pt/1.2 "Saira", sans-serif;
        color: #eee;
    }
    .first_name {
        font: 30pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        background-color: #612626;

    }
    .work_slogan {
        font: 25pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        font-style: italic;
    }
    .last_name, .work_name {
        font: 40pt/1.0 "Saira", sans-serif;
        color: #eee;
        text-transform: uppercase;
        display: block;
    }
    .quote, .quote_signature {
        font: 16pt/1.0 "Rosario", sans-serif !important;
        font-weight: 700;
        color: #eee;
        display: block;
        text-align: center;
        width: 100%;
    }
    a {
        color: #2e66dc;
        text-decoration: none;
    }
}


@media only screen and (max-width: 680px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    .profile_image {
        height: 196px;
        width: 140px;
    }
    .works_image {
        height: 148px;
        width: 148px;
        padding-left: 5px;
    }
    .works_description {
        padding-top: 152px;
    }

    .quattro {
        font: 14pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .first_name {
        font: 20pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        background-color: #612626;
    }
    .work_slogan {
        font: 20pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        font-style: italic;
    }
    .last_name, .work_name {
        font: 30pt/1.0 "Saira", sans-serif;
        color: #eee;
        text-transform: uppercase;
        display: block;
    }
    .quote, .quote_signature {
        font: 10pt/1.0 "Rosario", sans-serif !important;
        font-weight: 700;
        color: #eee;
        display: block;
        text-align: center;
        width: 100%;
    }
    a {
        color: #2e66dc;
        text-decoration: none;
    }
}

@media only screen and (max-width: 480px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    .profile_image {
        height: 196px;
        width: 140px;
    }
    .works_image {
        height: 124px;
        width: 124px;
        padding-left: 5px;
    }
    .works_description {
        padding-top: 130px;
    }
    .quattro {
        font: 14pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .first_name {
        font: 18pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        background-color: #612626;
    }
    .work_slogan {
        font: 16pt/0.9 "Saira", sans-serif;
        color: #eee;
        display: block;
        font-style: italic;
    }
    .last_name, .work_name {
        font: 24pt/1.0 "Saira", sans-serif;
        color: #eee;
        text-transform: uppercase;
        display: block;
    }
    .quote, .quote_signature {
        font: 10pt/1.0 "Rosario", sans-serif !important;
        font-weight: 700;
        color: #eee;
        display: block;
        text-align: center;
        width: 100%;
    }
    a {
        color: #6c8ed5;
        text-decoration: none;
    }

}


.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.footer-div {
    font-size: 50%;
    border-top: 1px solid #eee;
    padding-top: 4px;
    padding-bottom: 14px;
    margin-bottom: 14px;

}

.footer-div span {
    padding-top: 4px;
    float: right;
}

h2 {
    font-weight: 700;
    font-size: 110%;;
}

body {
    background-color: #2f2c2c;
}

code {
    background-color: #eee;
    padding: 3px;
    width: 100%;
    display: inline-block;
}

blockquote {
    font-style: italic;
}
