.work {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 1px solid  #6c8ed5;
    background-color: #6e6f71;
}

.works_image_container {
    display: flex;
    height: 100%;
    align-self: center;
}

.works_image {
    height: 100%;
    padding: 5px;
    align-self: center;
}

.works_text_container {
    padding-left: 5px;
    display: table;
}

.work_name {
    color: #eee;
    text-transform: uppercase;
    height: 50%;
    display: table-cell;
    vertical-align: bottom;
}

.work_slogan {
    display: flex;
    height: 50%;
    display: table-cell;
    vertical-align: bottom;
}

.row {
    display: table-row;
}

.work > a {
    display: flex;
    padding: 0px;
    width: 100%;
}

@media only screen and (min-width: 680px) {
    #root {
        margin: 0 auto;
        width: 680px;
    }
    .works_image {
        height: 196px;
        width: 196px;
    }
    .works_text_container {
        height: 196px;
        width: 100%;
    }
    .quattro {
        font: 20pt/1.2 "Saira", sans-serif;
        color: #eee;
    }
    .work_slogan {
        font: 22pt/1.0 "Rosario", sans-serif !important;
        font-weight: 700;
        color: #eee;
        font-style: italic;
    }
    .work_name {
        font: 32pt/1.0 "Saira", sans-serif;
    }
}


@media only screen and (max-width: 680px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    .works_image {
        height: 148px;
        width: 148px;
    }
    .works_text_container {
        height: 148px;
        width: 100%;
    }

    .quattro {
        font: 14pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .work_slogan {
        font: 16pt/1.0 "Rosario", sans-serif !important;
        font-weight: 700;
        color: #eee;
        font-style: italic;
    }
    .work_name {
        font: 20pt/1.0 "Saira", sans-serif;
    }
}

@media only screen and (max-width: 480px) {
    #root {
        margin: 0 auto;
        width: 100%;
    }
    .work {
        margin-bottom: 20px;
    }
    .works_image {
        height: 144px;
        width: 144px;
    }
    .works_text_container {
        height: 144px;
        width: 100%;
    }
    .quattro {
        font: 14pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .work_slogan {
        font: 16pt/1.0 "Rosario", sans-serif !important;
        font-weight: 700;
        color: #eee;
        font-style: italic;
    }
    .work_name {
        font: 17pt/1.0 "Saira", sans-serif;
    }
    h2 {
        font-size: 95%;
    }
}

@media only screen and (max-width: 380px) {
    #root {
        margin: 0 auto;
        width: 320px;
    }
    .works_image {
        height: 124px;
        width: 124px;
    }
    .works_text_container {
        height: 124px;
        width: 100%;
    }
    .quattro {
        font: 12pt/1.2 "Saira", sans-serif;
        color: #eee;
    }

    .work_slogan {
        font: 14pt/1.0 "Rosario", sans-serif !important;
        font-weight: 700;
        color: #eee;
        font-style: italic;
    }
    .work_name {
        font: 16pt/1.0 "Saira", sans-serif;
    }
    h2 {
        font-size: 90%;
    }
}
