@font-face {
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(PbymFmP_EAnPqbKaoc18YVs.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(6xK1dSBYKcSV-LCoeQqfX1RYOo3qPa7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sunflower';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(RWmPoKeF8fUjqIj7Vc-06MfiqQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Suwannaphum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(jAnCgHV7GtDvc8jbe8hXXIWl.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(LYjNdG7kmE0gTaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(LYjCdG7kmE0gdRhYgCM.ttf) format('truetype');
}
